<div id="carousel">
  <div id="owl-demo" class="owl-carousel owl-theme">
    <div class="item">
      <img src="images/first.jpg" alt="">
      <div class="line">
        <div class="text hide-s">
          <div class="line">
            <div class="prev-arrow hide-s hide-m">
              <i class="icon-chevron_left"></i>
            </div>
            <div class="next-arrow hide-s hide-m">
              <i class="icon-chevron_right"></i>
            </div>
          </div>
          <h2>Premium Onepage Responsive Template</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna.</p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="images/second.jpg" alt="">
      <div class="line">
        <div class="text hide-s">
          <div class="line">
            <div class="prev-arrow hide-s hide-m">
              <i class="icon-chevron_left"></i>
            </div>
            <div class="next-arrow hide-s hide-m">
              <i class="icon-chevron_right"></i>
            </div>
          </div>
          <h2>Nice Design and Clean Code</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna.</p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="images/third.jpg" alt="">
      <div class="line">
        <div class="text hide-s">
          <div class="line">
            <div class="prev-arrow hide-s hide-m">
              <i class="icon-chevron_left"></i>
            </div>
            <div class="next-arrow hide-s hide-m">
              <i class="icon-chevron_right"></i>
            </div>
          </div>
          <h2>Fully Responsive Components</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna.</p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="images/fourth.jpg" alt="">
      <div class="line">
        <div class="text hide-s">
          <div class="line">
            <div class="prev-arrow hide-s hide-m">
              <i class="icon-chevron_left"></i>
            </div>
            <div class="next-arrow hide-s hide-m">
              <i class="icon-chevron_right"></i>
            </div>
          </div>
          <h2>Animated Pie Charts</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna.</p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="images/fifth.jpg" alt="">
      <div class="line">
        <div class="text hide-s">
          <div class="line">
            <div class="prev-arrow hide-s hide-m">
              <i class="icon-chevron_left"></i>
            </div>
            <div class="next-arrow hide-s hide-m">
              <i class="icon-chevron_right"></i>
            </div>
          </div>
          <h2>Amazing Responsive Pricing Tables</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna.</p>
        </div>
      </div>
    </div>
  </div>
</div>
