<div id="our-team">
  <div class="line">
    <h2 class="section-title">Our Dream Team</h2>
    <div class="our-team-carousel">
      <div class="owl-item">
        <div class="our-team-centent">
          <img src="images/team1.jpg" />
          <div class="back face center">
            <h4>Frank Star</h4>
            <span class="profession">Web Designer</span>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
              dolore magna aliquam erat volutpat.</p>
          </div>
        </div>
      </div>
      <div class="owl-item">
        <div class="our-team-centent">
          <img src="images/team2.jpg" />
          <div class="back face center">
            <h4>Jane Naismith</h4>
            <span class="profession">Graphic Designer</span>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
              dolore magna aliquam erat volutpat.</p>
          </div>
        </div>
      </div>
      <div class="owl-item">
        <div class="our-team-centent">
          <img src="images/team3.jpg" />
          <div class="back face center">
            <h4>Mark Stoner</h4>
            <span class="profession">Web Developer</span>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
              dolore magna aliquam erat volutpat.</p>
          </div>
        </div>
      </div>
      <div class="owl-item">
        <div class="our-team-centent">
          <img src="images/team4.jpg" />
          <div class="back face center">
            <h4>Steve Carpenter</h4>
            <span class="profession">Boss</span>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
              dolore magna aliquam erat volutpat.</p>
          </div>
        </div>
      </div>
      <div class="owl-item">
        <div class="our-team-centent">
          <img src="images/team5.jpg" />
          <div class="back face center">
            <h4>John Sandman</h4>
            <span class="profession">Account Manager</span>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
              dolore magna aliquam erat volutpat.</p>
          </div>
        </div>
      </div>
      <div class="owl-item">
        <div class="our-team-centent">
          <img src="images/team6.jpg" />
          <div class="back face center">
            <h4>Melissa Style</h4>
            <span class="profession">Account Manager</span>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
              dolore magna aliquam erat volutpat.</p>
          </div>
        </div>
      </div>
      <div class="owl-item">
        <div class="our-team-centent">
          <img src="images/team7.jpg" />
          <div class="back face center">
            <h4>Andreas Tomato</h4>
            <span class="profession">Programmer</span>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
              dolore magna aliquam erat volutpat.</p>
          </div>
        </div>
      </div>
      <div class="owl-item">
        <div class="our-team-centent">
          <img src="images/team8.jpg" />
          <div class="back face center">
            <h4>Steff Kingston</h4>
            <span class="profession">Office Manager</span>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
              dolore magna aliquam erat volutpat.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
