<div id="pricing">
  <div class="line">
    <h2 class="section-title">Pricing</h2>
    <div class="margin">
      <div class="s-12 m-6 l-3">
        <h3 class="pricing-title">Starter</h3>
        <div class="pricing-table margin-bottom">
          <li>
            <p class="pricing-price">€9.99</p>
          </li>
          <li><i class="icon-cross_mark"></i> <span>Free Setup</span></li>
          <li><i class="icon-check"></i> <span>20 Websites</span></li>
          <li><i class="icon-check"></i> <span>3GB Storage</span></li>
          <li><i class="icon-check"></i> <span>2GB Bandwidth</span></li>
          <li><i class="icon-cross_mark"></i> <span>12 months Support</span></li>
          <li><i class="icon-check"></i> <span>Unlimited Subdomains</span></li>
          <li><a class="button-contact-us" href="#contact">Contact Us</a></li>
        </div>
      </div>
      <div class="s-12 m-6 l-3">
        <h3 class="pricing-title hightlight">Standard</h3>
        <div class="pricing-table margin-bottom">
          <li>
            <p class="pricing-price">
              <s>€12.99</s> <b class="best-price">€10.99</b></p>
          </li>
          <li><i class="icon-cross_mark"></i> <span>Free Setup</span></li>
          <li><i class="icon-check"></i> <span>30 Websites</span></li>
          <li><i class="icon-check"></i> <span>5GB Storage</span></li>
          <li><i class="icon-check"></i> <span>3GB Bandwidth</span></li>
          <li><i class="icon-check"></i> <span>12 months Support</span></li>
          <li><i class="icon-check"></i> <span>Unlimited Subdomains</span></li>
          <li><a class="button-contact-us" href="#contact">Contact Us</a></li>
        </div>
      </div>
      <div class="s-12 m-6 l-3">
        <h3 class="pricing-title">Premium</h3>
        <div class="pricing-table margin-bottom">
          <li>
            <p class="pricing-price">€14.99</p>
          </li>
          <li><i class="icon-check"></i> <span>Free Setup</span></li>
          <li><i class="icon-check"></i> <span>30 Websites</span></li>
          <li><i class="icon-check"></i> <span>10GB Storage</span></li>
          <li><i class="icon-check"></i> <span>8GB Bandwidth</span></li>
          <li><i class="icon-check"></i> <span>12 months Support</span></li>
          <li><i class="icon-check"></i> <span>Unlimited Subdomains</span></li>
          <li><a class="button-contact-us" href="#contact">Contact Us</a></li>
        </div>
      </div>
      <div class="s-12 m-6 l-3">
        <h3 class="pricing-title">Profesional</h3>
        <div class="pricing-table margin-bottom">
          <li>
            <p class="pricing-price">€19.99</p>
          </li>
          <li><i class="icon-check"></i> <span>Free Setup</span></li>
          <li><i class="icon-check"></i> <span>50 Websites</span></li>
          <li><i class="icon-check"></i> <span>30GB Storage</span></li>
          <li><i class="icon-check"></i> <span>20GB Bandwidth</span></li>
          <li><i class="icon-check"></i> <span>24 months Support</span></li>
          <li><i class="icon-check"></i> <span>Unlimited Subdomains</span></li>
          <li><a class="button-contact-us" href="#contact">Contact Us</a></li>
        </div>
      </div>
    </div>
  </div>
</div>
