<!-- TOP NAV WITH LOGO -->
<rivercity-header></rivercity-header>
  
    <section>
      <!-- CAROUSEL -->
      <rivercity-carousel></rivercity-carousel>
      
      <!-- FIRST BLOCK -->
      <rivercity-firstblock></rivercity-firstblock>
      
      <!-- FEATURES -->
      <rivercity-features></rivercity-features>
      
      <!-- ABOUT US -->
      <rivercity-aboutus></rivercity-aboutus>
      
      <!-- OUR WORK -->
      <rivercity-ourwork></rivercity-ourwork>
      
      <!-- PRICING -->
      <rivercity-pricing></rivercity-pricing>
      
      <!-- SERVICES -->
      <rivercity-services></rivercity-services>
      
      <!-- CLIENTS -->
      <rivercity-clients></rivercity-clients>
      
      <!-- STORY -->
      <rivercity-story></rivercity-story>
      
      <!-- OUR TEAM -->
      <rivercity-ourteam></rivercity-ourteam>
      
      <!-- LATEST NEWS -->
      <rivercity-latestnews></rivercity-latestnews>
      
      <!-- PIE CHARTS -->
      <rivercity-piecharts></rivercity-piecharts>
      
      <!-- CONTACT -->
      <rivercity-contact></rivercity-contact>
      
      <!-- MAP -->
      <rivercity-map></rivercity-map>
      
      <!-- SOCIALS -->
      <rivercity-socials></rivercity-socials>
      
    </section>
    <!-- FOOTER -->
    <rivercity-footer></rivercity-footer>