<div id="pie-charts">
  <div class="line">
    <div class="margin">
      <div class="s-12 m-6 l-3">
        <span class="chart" data-percent="80">
		                <span class="percent">80</span>
        </span>
        <h3 class="margin-bottom">Web Design</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
          magna aliquam erat volutpat.</p>
      </div>
      <div class="s-12 m-6 l-3">
        <span class="chart" data-percent="90">
		                <span class="percent">90</span>
        </span>
        <h3 class="margin-bottom">HTML</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
          magna aliquam erat volutpat.</p>
      </div>
      <div class="s-12 m-6 l-3">
        <span class="chart" data-percent="85">
		                <span class="percent">85</span>
        </span>
        <h3 class="margin-bottom">CSS</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
          magna aliquam erat volutpat.</p>
      </div>
      <div class="s-12 m-6 l-3">
        <span class="chart" data-percent="75">
		                <span class="percent">75</span>
        </span>
        <h3 class="margin-bottom">jQuery</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
          magna aliquam erat volutpat.</p>
      </div>
    </div>
  </div>
</div>
