<div id="story">
  <div class="s-12 m-12 l-6 media-container">
    <video width="100%" height="auto" autoplay loop>
      <source src="images/video.mp4" type="video/mp4"> Your browser does not support the video.
    </video>
  </div>
  <article class="s-12 m-12 l-6">
    <h2>Our Story</h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
      aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
      ut aliquip ex ea commodo consequat.
    </p>
    <div class="margin">
      <div class="s-12 m-6 l-6">
        <ul>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Ut wisi enim ad minim veniam</li>
          <li>Claritas est etiam processus</li>
        </ul>
      </div>
      <div class="s-12 m-6 l-6">
        <ul>
          <li>Investigationes demonstraverunt</li>
          <li>Nam liber tempor cum</li>
          <li>Duis autem vel eum iriure</li>
        </ul>
      </div>
    </div>
  </article>
</div>
