<div id="latest-news">
  <div class="line">
    <h2 class="section-title">Latest News</h2>
    <div class="margin">
      <div class="s-12 m-6 l-6">
        <div class="s-12 l-2">
          <div class="news-date">
            <p class="day">28</p>
            <p class="month">AUGUST</p>
            <p class="year">2015</p>
          </div>
        </div>
        <div class="s-12 l-10">
          <div class="news-text">
            <h4>First latest News</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
              dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
          </div>
        </div>
      </div>
      <div class="s-12 m-6 l-6">
        <div class="s-12 l-2">
          <div class="news-date">
            <p class="day">12</p>
            <p class="month">JULY</p>
            <p class="year">2015</p>
          </div>
        </div>
        <div class="s-12 l-10">
          <div class="news-text">
            <h4>Second latest News</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
              dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
