<div id="clients">
  <div class="line">
    <h2 class="section-title">Satisfied Clients</h2>
    <div id="owl-demo2" class="owl-carousel owl-theme">
      <div class="item">
        <div class="client-img"><img src="images/client1.jpg" alt=""></div>
        <h4>Mike Smith</h4>
        <span class="profession">Web Developer</span>
        <p class="s-12 m-10 l-7 center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
          magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
          nisl ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <div class="item">
        <div class="client-img"><img src="images/client2.jpg" alt=""></div>
        <h4>Joan Carter</h4>
        <span class="profession">Web Designer</span>
        <p class="s-12 m-10 l-7 center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
          magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
          nisl ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <div class="item">
        <div class="client-img"><img src="images/client3.jpg" alt=""></div>
        <h4>John Slower</h4>
        <span class="profession">Account Manager</span>
        <p class="s-12 m-10 l-7 center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
          magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
          nisl ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </div>
</div>
