<div id="socials">
  <div class="s-12 m-6 l-3"><a class="facebook" href="http://www.facebook.com"><i class="icon-facebook icon2x"></i><span>Join us on Facebook</span></a></div>
  <div class="s-12 m-6 l-3"><a class="twitter" href="http://www.twitter.com"><i class="icon-twitter icon2x"></i><span>Follow us on Twitter</span></a></div>
  <div class="s-12 m-6 l-3"><a class="google" href="http://plus.google.com"><i class="icon-google_plus icon2x"></i><span>Add to our circle</span></a></div>
  <div class="s-12 m-6 l-3"><a class="instagram" href="http://instagram.com"><i class="icon-instagram icon2x"></i><span>Follow us on Instagram</span></a></div>
</div>
